parameters:
    stations_path: '%kernel.project_dir%/data/stations.json'
    distances_path: '%kernel.project_dir%/data/distances.json'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Infrastructure Services
    App\Routing\Infrastructure\Persistence\JsonNetworkLoader:
        arguments:
            $stationsPath: '%stations_path%'
            $distancesPath: '%distances_path%'

    App\Routing\Domain\Service\NetworkLoaderInterface:
        alias: App\Routing\Infrastructure\Persistence\JsonNetworkLoader

    App\Routing\Domain\Service\PathFinderInterface:
        alias: App\Routing\Domain\Service\DijkstraPathFinder

    # Analytics Services
    App\Analytics\Infrastructure\Persistence\DoctrineRouteRecordRepository: ~

    App\Analytics\Domain\Repository\RouteRecordRepositoryInterface:
        alias: App\Analytics\Infrastructure\Persistence\DoctrineRouteRecordRepository
